<div class="client-list surface">
    <table>
        <thead>
            <tr>
                <th class="client-check"><input type="checkbox" /></th>
                <th class="client-info">Client Name</th>
                <th class="client-location">Location</th>
                <th class="client-phone">Phone</th>
                <th class="client-date">Date</th>
                <th class="client-status">Status</th>
                <th class="client-actions"></th>
            </tr>
        </thead>
        <tbody>
            <!-- Example row, repeat this for each client -->
            <tr>
                <td class="client-check"><input type="checkbox" /></td>
                <td class="client-info">
                    <img class="client-image" src="~/images/Avatar_male_1.svg" alt="" />
                    <div class="client-details">
                        <div class="client-name">Kim Hammerstad</div>
                        <div class="client-email">kim@hammerstad.se</div>
                    </div>
                </td>
                <td class="client-location">Stockholm</td>
                <td class="client-phone">+46 70 123 45 67</td>
                <td class="client-date">25-03-24</td>
                <td class="client-status">
                    <div class="badge success">active</div>
                </td>
                <td class="client-actions">
                    <i class="fa-regular fa-ellipsis" data-modal="true" data-target="#editClientModal"></i>
                </td>
            </tr>
        </tbody>
    </table>
</div>